:root{
      --width: 1920px;
      --color_transition: color .3s ease-in-out;
      --back_color_tran: background-color 0.3s ease-in-out;
      --sora: 'Sora', sans-serif;
      --inter: 'Inter', sans-serif;
      --poppins: 'Poppins', sans-serif;
      --nav_color: #101011;
      --red: #E10000;
}

/* GENERAL STYLES */
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body{
      font-family: var(--sora);
      position: relative;
}

a{
      text-decoration: none;
}

li{
      list-style: none;
}

button{
      color: #FFF;
      cursor: pointer;
      font-family: var(--sora);
}

.popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.5s ease; 
      z-index: 1000;
}
.popup.show {
      display: flex;
      opacity: 1;
}
.popup .close {
      cursor: pointer;
}
.update-btn{
      width: 344px;
      padding: 20px;
      align-items: center;
      border-radius: 5px;
      background: var(--red);
      border: var(--red);
      font-size: 22px;
      font-weight: 600;
      line-height: 24px; /* 109.091% */
}
.load-btn{
      padding: 10px 32px;
      align-items: center;
      border-radius: 5px;
      border: 2px solid #E8E8E8;
      background-color: transparent;
      font-size: 14px;
      font-weight: 600;
}
.delete-btn{
      font-size: 14px;
      font-weight: 600;
      padding: 10px 32px;
      align-items: center;
      border-radius: 5px;
      border: none;
      background-color: transparent;
}
.load-btn:hover, .delete-btn:hover{
      color: var(--red);
      border-color: var(--red);
}

/* HEADER */    
.red__btn {
      padding: 20px;
      border-radius: 5px;
      background: #E10000;
      font-size: 22px;
      font-weight: 600;
      line-height: 24px;
      color: #FFF;
}
    
.black__btn {
      padding: 16px 32px;
      border-radius: 5px;
      border: 2px solid #E8E8E8;
      color: #FFF;
      font-weight: 600;
      background-color: transparent;
}
    
.container {
      max-width: 1600px;
      margin: 0 auto;
      padding: 0 20px;
}
    
.header {
      position: fixed;
      top: 0;
      width: var(--width);
      z-index: 1000;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
      padding: 34px 0;
}
.header__inner {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
}
.header__logo-wrapper {
      min-width: 168px;
      margin-right: 100px;
}     
.header__logo{
      width: 168px;
}
    
.navbar {
      width: var(--width);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
}
.navbar__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
}
.navbar__item + .navbar__item {
      margin-left: 28px;
}
.navbar__item.parallax-item {
      padding-left: 28px;
      position: relative;
}
.navbar__item.parallax-item::before {
      content: "|";
      position: absolute;
      left: 0;
      color: #FFF;
}
.navbar__link {
      color: #FFF;
      font-size: 18px;
      line-height: 150%;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
}
.navbar__link:hover {
      color: #E10000;
}
.navbar .parallax-item > a:hover {
      color: #FFF;
}

/* KUTTOKEN SECTION */
.cover_img_kuttoken{
      background-size: cover;
      width: var(--width);
      height: 478px;
      background-repeat: no-repeat;
}
.change-btn:hover{
      color: var(--red);
      border-color: var(--red);
      transition: var(--color_transition);
}
.change {
      position: absolute;
      display: flex;
      top: 406px;
      right: 140px;
      gap: 12px; 
}
.change-btn{
      padding: 12px 16px;
      border-radius: 4px;
      border: 2px solid rgba(255, 255, 255, 0.50);
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(5px);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
}

/* DOCUMENTS SECTION */
.docs_section_container{
      padding: 60px 423px 100px 273px;
      display: flex;
      gap: 40px;
}
.info_container{
      width: 274px;
      height: 434px;
      align-items: center;
      gap: 32px; 
      border-radius: 16px;
      border: 1px solid #E6E8EC;
      background: #FCFCFD;
      box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
}
.info{
      display: flex;
      padding: 32px;
      height: 434px;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      gap: 24px; 
      flex-direction: column;
}
.img_wrapper{
      text-align: center;
}
.avatar{
      width: 160px;
      height: 160px;
      border-radius: 50%;
      object-fit: cover;
}
.fio{
      display: flex;
      max-width: 210px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 4px;
      align-self: stretch;
}
.fio p{
      color: #23262F;
      font-size: 24px;
      font-weight: 600;
      line-height: 140%; /* 33.6px */ 
}
.slogan{
      color: #777E90;
      text-align: center;
      font-family: var(--poppins);
      font-size: 12px;
      font-weight: 400;
      line-height: 20px; /* 166.667% */ 
}
.contact-info{
      text-align: left; 
      color: #23262F;
      font-family: var(--inter);
      font-size: 14px;
      font-weight: 500;
      line-height: 16px; /* 114.286% */
}
.email,
.phone{
      display: flex;
      gap: 8px;
}
.title{
      color: #1A1A1D;
      font-size: 30px;
      font-weight: 700;
      line-height: 150%; /* 45px */
}
.docs_cards{
      padding-bottom: 40px;
}
.cards{
      padding-top: 12px;
      display: grid;
      gap: 12px;
      grid-template-columns: repeat(3, 291px);
      justify-content: center;
}
.card{
      display: flex;
      padding: 32px 0px;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      border-radius: 16px;
      border: 1px solid #E6E8EC;
      background: #FCFCFD;
      box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
}
.card img {
      height: 210px;
      align-self: stretch;
}
.doc_name{
      color: var(--Black, #282828);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: var(--inter);
      font-size: 18px;
      font-weight: 600;
      line-height: 30px; /* 166.667% */
}
.doc_date{
      color: var(--Blue-Black-500, #5F6980);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: var(--inter);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px; /* 157.143% */
}

/* PURCHASE SECTION*/

.advantages {
      background-image: url(../imgs/purchase-back.jpg);
      background-image: linear-gradient(0deg, rgba(26, 26, 29, 0.75) 0%, rgba(26, 26, 29, 0.75) 100%), url(../imgs/purchase-back.jpg);
      background-position: center;
      color: #FFF;
      padding: 120px 0;
      background-repeat: no-repeat;
      background-size: cover;
      width: var(--width);
}
.advantages__inner {
      text-align: center;
}
.advantages__title {
      font-size: 60px;
      line-height: 150%;
      font-weight: 700;
      text-align: center;
}
.advantages__list {
      text-align: left;
      max-width: 1440px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 64px 0;
}
.advantages__item {
      width: 800px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
}
.advantages__item:nth-child(2n) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -ms-flex-item-align: end;
          align-self: end;
}
.advantages__item-img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
}
.advantages__item-img-wrapper {
      width: 400px;
      height: 400px;
}
.advantages__item-desc {
      max-width: 380px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
}
.advantages__item-title {
      font-size: 44px;
      line-height: 72px;
      margin-bottom: 12px;
      font-weight: 600;
}
.advantages__item-text {
      font-size: 18px;
      line-height: 180%;
}
.advantages__btn {
      width: 412px;
}

/* FOOTER */
.footer {
      background-color: #000;
      position: relative;
      width: var(--width);
}
.footer__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      padding: 72px 0 0;
      position: relative;
      z-index: 200;
}
.footer__logo {
      width: 168px;
}
.footer__logo__wrapper {
      min-width: 168px;
      -o-object-fit: cover;
         object-fit: cover;
}
.footer__bottom {
      position: relative;
      z-index: 200;
      padding: 60px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: #FFF;
      font-size: 20px;
      line-height: 30px;
}

/* COVER POPUP */
.change_cover-inner{
      color: #FFF;
      width: 1490px;
      border-radius: 12px;
      border: 2px solid rgba(255, 255, 255, 0.10);
      background: var(--Blocks, #2B2C2E);
      box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
}
.cover_inner_cont{
      padding: 60px 80px 100px 80px;
      width: 1330px;
}
.cover_top{
      width: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch; 
}
.cover_top h1{
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: var(--inter);
      font-size: 42px;
      font-weight: 600;
      line-height: 46px; /* 109.524% */
      letter-spacing: -2px;
}
.cover_img{
      padding-top: 32px;
      height: 340px;
      border-radius: 4px;
      width: inherit;
}
.img_btn{
      padding-top: 20px;
      display: flex;
      align-items: center;
      gap: 24px; 
}

/* PROFILE POPUP */
.change_profile-inner{
      color: #FFF;
      display: flex;
      width: 754px;
      padding: 40px 80px 100px 80px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 12px;
      border: 2px solid rgba(255, 255, 255, 0.10);
      background: var(--Blocks, #2B2C2E);
      box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
      height: 800px;
}
.inner_cont{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 38px;
}
.profile_title{
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: 'Inter', sans-serif;
      font-size: 42px;
      font-weight: 600;
      line-height: 40px; /* 109.524% */
      letter-spacing: -2px;
}
.profile_avatar{
      display: flex;
      align-items: flex-start;
      gap: 32px;
}
.profile_avatar img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
}
.img_reduct{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
}
.reduct_title{
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 140%; /* 28px */
}
.advice{
      padding-top: 8px;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: 'Inter', sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 140%; /* 21px */
      opacity: 0.5;
}
.img_btn{
      padding-top: 21px;
}
.profile_info{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
      max-width: 590px;
}
.profile_info_title{
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 140%; /* 28px */
}
.input{
      height: 54px;
      padding: 10px 18px;
      gap: 10px;
      align-self: stretch;
      border-radius: 5px;
      border: none;
      background: var(--Popups, #3A3B3D);
      color: var(--Text-Placeholder, #76797D);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; /* 150% */
}
.about_input{
      height: 100px;
      align-items: flex-start;
      display: flex;
}
.profile-btn{
      width: 590px;
      padding: 14px;

}
.input.has-text,
.input:focus{
    top: -10px;
    left: 5px;;
    color: #FFF;
}