:root {
  --color_transition: color 0.3s ease-in-out;
  --back_color_tran: background-color 0.3s ease-in-out;
  --sora: "Sora", sans-serif;
  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
  --nav_color: #101011;
  --red: #e10000;
}

/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f5f5f5;
}

body {
  background: #242428;
  font-family: var(--sora);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  color: #fff;
  cursor: pointer;
  font-family: var(--sora);
}

.red__btn {
  padding: 20px;
  border-radius: 5px;
  background: #e10000;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
}

/* HEADER */
.header-nav {
  display: flex;
  gap: 100px;
}

.header-nav {
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  gap: 40px;
  transition: var(--back_color_tran);
  padding: 2% 7%;
}
.nav_list {
  display: flex;
  align-items: center;
  gap: 28px;
}
.nav_list-item a {
  color: #fff;
  font-weight: 400;
  line-height: 150%;
}
.nav_list-item.active a {
  color: #e10000;
}
.nav_list-item a:hover {
  color: var(--red);
  transition: var(--color_transition);
}
.line {
  color: #fff;
}
.log-out-mobile {
  display: none;
}
.log-out {
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #e8e8e8;
  padding: 1% 2%;
  align-items: center;
  font-weight: 600;
}
.log-out:hover {
  color: var(--red);
  border-color: var(--red);
  transition: var(--color_transition);
}
.header__logo2 {
  display: none;
}
.logo a {
  color: #fff;
  text-align: right;
  font-weight: 700;
  line-height: 116.667%;
  letter-spacing: -2%;
}
.logo span {
  color: var(--red);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  width: 100%;
  padding: 0 20px;
  gap: 60px;
}

.back_container {
  padding-top: 40px;
}
.back-btn {
  font-feature-settings: "clig" off, "liga" off;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
}
.back-btn:hover {
  color: var(--red);
  transition: var(--color_transition);
}

.main_content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  gap: 60px;
}
.main_title {
  align-self: stretch;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 60px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: -2px;
}

.project_cards {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 390px);
  gap: 40px;
  width: 100%;
}
.project_card {
  position: relative;
  display: flex;
  padding: 40px 32px;
  flex-direction: column;
  text-align: left;
  gap: 32px;
  border-radius: 16px;
  background: #000000;
  box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
  cursor: pointer;
  border: none;
}
.project_card_btn {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.project_card_title {
  font-size: 34px;
  line-height: 140%;
}
.project_card_definition {
  font-size: 15px;
  line-height: 180%;
}

.project_popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1000;
}
.project_popup.show {
  display: flex;
  opacity: 1;
}
.project_popup_container {
  max-width: 38%;
  align-items: center;
}
.project_popup_inner {
  display: flex;
  padding: 40px 32px;
  flex-direction: column;
  text-align: left;
  gap: 32px;
  border-radius: 16px;
  background: #242428;
}
.project_popup_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.project_popup_title {
  font-size: 35px;
  line-height: 150%;
}
.project_popup_text {
  font-size: 18px;
  line-height: 180%;
}

.footer {
  width: 100%;
}
.line2 {
  display: none;
}
.footer_container {
  display: flex;
  width: 100%;
  padding: 4% 7%;
  gap: 34px;
  font-family: var(--sora);
  flex-direction: column;
  align-items: flex-start;
  background-color: #101011;
  background-color: var(--nav_color);
  color: #fff;
}
.footer_nav,
.privacy_policy {
  width: 98%;
  display: flex;
  justify-content: space-between;
  transition: var(--back_color_tran);
}
.logo-footer {
  right: 0;
}
.privacy_policy {
  font-weight: 400;
  line-height: 30px; /* 150% */
}

@media (max-width: 970px) {
  .header-nav {
    padding: 5%;
    height: 80px;
  }
  .header-nav.active {
    background-color: #1e1e1f;
  }
  .header__logo {
    display: none;
  }
  .header__logo2 {
    display: inline;
    font-size: 30px;
    right: 40%;
  }
  .header-nav .nav_list {
    display: none;
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
    margin-top: 9%;
    width: 100vw;
    min-height: 100vh;
    background-color: #1e1e1f;
    padding: 10% 4%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    margin-top: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .nav_list.active {
    display: block;
    transition: transform 0.1s ease-in-out;
  }
  .nav_list-item + .nav_list-item {
    margin: 30px 0 0;
  }
  .nav_list-item:last-child {
    padding: 0;
  }
  .nav_list-item:last-child::before {
    content: "";
  }
  .nav_list-item a {
    font-size: 24px;
  }
  .header__menu-wrapper {
    position: absolute;
    z-index: 500;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 64px;
    height: 32px;
  }
  .header__menu-icon {
    position: relative;
    width: 100%;
    height: 100%;
    right: 20%;
  }
  .header__menu-icon.active span.first-line {
    width: 34px;
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
  }
  .header__menu-icon.active span.second-line {
    width: 34px;
    -webkit-transform: rotate(-45deg) translateY(50%);
    -ms-transform: rotate(-45deg) translateY(50%);
    transform: rotate(-45deg) translateY(50%);
    bottom: 50%;
  }
  .header__menu-icon span {
    position: absolute;
    display: block;
    background-color: #fff;
    border-radius: 2px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header__menu-icon span.first-line {
    right: 0;
    top: 25%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 34px;
    height: 2px;
  }
  .header__menu-icon span.second-line {
    right: 0;
    bottom: 25%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    width: 49px;
    height: 2px;
  }
  .log-out-basic {
    display: none;
  }
  .log-out-mobile {
    display: block;
    margin-top: 200px;
    width: 100%;
    font-size: 16px;
    padding: 20px 32px;
    max-width: 540px;
  }
  .nav_list {
    align-items: self-start;
  }
  .line {
    display: none;
  }
  .nav_list {
    flex-direction: column;
  }

  .footer_container {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  .footer_nav {
    gap: 35px;
  }
  .footer_nav,
  .footer_nav .nav_list,
  .privacy_policy {
    flex-direction: column;
    align-items: center;
  }
  .footer_nav .nav_list {
    gap: 0px;
  }
  .item-line {
    display: none;
  }
  .line2 {
    display: inline;
    opacity: 30%;
    width: 100%;
    height: 2px;
    color: #fff;
  }

  .main {
    padding: 10% 5%;
  }
  .back-btn {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    .header-nav .nav_list {
      text-align: left;
    }
    .project_cards {
      grid-template-columns: repeat(1, 100%);
    }

    .project_popup_container {
      max-width: 82%;
    }
  }

  @media (min-width: 480px) and (max-width: 680px) {
    .project_popup_container {
      max-width: 70%;
    }
    .project_cards {
      grid-template-columns: repeat(1, 390px);
    }
  }

  @media (min-width: 680px){
    .project_cards {
      grid-template-columns: repeat(1, 390px);
    }
    .project_popup_container {
      max-width: 50%;
    }
  }

  .main_content{
    gap: 40px;
  }
  .main_title {
    font-size: 47px;
  }
  .project_card_title {
    font-size: 30px;
    line-height: 140%;
  }
  .project_card_definition {
    font-size: 14px;
    line-height: 180%;
  }


  .project_popup_inner {
    padding: 30px 32px;
    gap: 25px;
    border-radius: 16px;
    background: #242428;
  }
  .project_popup_text {
    font-size: 16px;
  }
}

@media (min-width: 970px) and (max-width: 1200px) {
  .logo a {
    font-size: 130%;
  }

  .nav_list-item a,
  .privacy_policy {
    font-size: 100%;
  }
  .line {
    height: 15px;
  }

  .back-btn {
    font-size: 16px;
  }

  .project_cards {
    grid-template-columns: repeat(2, 390px);
  }
  .main_title {
    font-size: 45px;
  }
  .project_card {
    gap: 20px;
  }
  .project_card_title {
    font-size: 25px;
    line-height: 140%;
  }
  .project_card_definition {
    font-size: 12px;
    line-height: 180%;
  }
  .project_popup_inner {
    gap: 15px;
    padding: 20px 22px;
  }
  .project_popup_title {
    font-size: 30px;
  }
  .project_popup_text {
    font-size: 16px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .logo a {
    font-size: 170%;
  }
  .nav_list-item a,
  .privacy_policy {
    font-size: 130%;
  }
  .line {
    height: 16px;
  }

  .project_cards {
    grid-template-columns: repeat(2, 390px);
  }
  .main_title {
    font-size: 50px;
  }
  .project_card_title {
    font-size: 30px;
    line-height: 140%;
  }
  .project_card_definition {
    font-size: 14px;
    line-height: 180%;
  }
  .project_popup_inner {
    padding: 30px 32px;
    gap: 25px;
    border-radius: 16px;
    background: #242428;
  }
  .project_popup_text {
    font-size: 16px;
  }
}

@media (min-width: 1500px) {
  .logo a {
    font-size: 200%;
  }
  .nav_list-item a,
  .privacy_policy {
    font-size: 140%;
  }
  .line {
    height: 18px;
  }

  .project_cards {
    grid-template-columns: repeat(3, 390px);
  }
}

@media (min-width: 1900px) {
  .logo a {
    font-size: 210%;
  }
  .nav_list-item a,
  .privacy_policy {
    font-size: 150%;
  }
  .line {
    height: 18px;
  }
}
