:root{
      --width: 1920px;
      --color_transition: color .3s ease-in-out;
      --back_color_tran: background-color 0.3s ease-in-out;
      --sora: 'Sora', sans-serif;
      --inter: 'Inter', sans-serif;
      --poppins: 'Poppins', sans-serif;
      --nav_color: #101011;
      --red: #E10000;
}

/* GENERAL STYLES */
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: #F5F5F5;
}

body{
      background: #242428;
      font-family: var(--sora);
      min-height: 100vh;
}

a{
      text-decoration: none;
}

li{
      list-style: none;
}

button{
      color: #FFF;
      cursor: pointer;
      font-family: var(--sora);
}

/* HEADER */
.container {
      margin: 0 auto;
      padding: 0 20px;
}
    
.header {
      position: fixed;
      top: 0;
      width: var(--width);
      z-index: 1000;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
      padding: 34px 0;
}
.header__inner {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
}

.header__logo-wrapper {
      margin-right: 100px;
      max-width: 168px;
}     
.header__logo{
      width: 168px;
}
.navbar {
      width: var(--width);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
}
.navbar__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
}
.navbar__item + .navbar__item {
      margin-left: 28px;
}
.navbar__item.parallax-item {
      padding-left: 28px;
      position: relative;
}
.navbar__item.parallax-item::before {
      content: "|";
      position: absolute;
      left: 0;
      color: #FFF;
}
.navbar__link {
      color: #FFF;
      font-size: 18px;
      line-height: 150%;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
}
.navbar__link:hover {
      color: #E10000;
}
.navbar .parallax-item > a:hover {
      color: #FFF;
}
.active{
      color: #E10000;
}

.main {   
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: auto;
}
    
.main_container {
      display: flex;
      flex-direction: column;
      align-items: self-start;
      box-sizing: border-box;
      width: 100%;
      padding: 0 20px;
}

.back_container {
      padding-top: 40px;
}
.back-btn{
      font-feature-settings: 'clig' off, 'liga' off;
      background-color: transparent;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      display: flex;
      gap: 8px;
      align-items: center; 
      border: none;
}
.back-btn:hover{
      color: var(--red);
      transition: var(--color_transition);
}

.main_title {
      align-self: stretch;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 42px;
      font-weight: 600;
      line-height: 46px; 
      letter-spacing: -2px;
}

.cont{
      padding-top: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
}
.title{
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 28px;
      font-weight: 600;
      line-height: 34px; /* 121.429% */
      letter-spacing: -0.6px;
}
.def{
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px; /* 166.667% */
      align-self: stretch;
}

.quote_inner{
      display: flex;
      padding: 40px 71px 50px 71px;
      gap: 20px;
      align-self: stretch;
      border-radius: 12px;
      background: #F5F5F5;
      align-items: center;
      flex-direction: column;
      font-family: var(--inter);
      text-align: center;
}
.quote{
      color: var(--Black, #282828);
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 20px;
      font-weight: 400;
      line-height: 35px; /* 175% */ 
      align-self: stretch;
}
.quote_end{
      color: var(--Black, #282828);
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px; /* 125% */
      align-self: stretch;
}

/* FOOTER */
.footer {
      background-color: #000;
      position: relative;
      width: var(--width);
}
.footer__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      padding: 72px 0 0;
      position: relative;
      z-index: 200;
      max-width: inherit;
}
.footer__logo {
      width: 168px;
}
.footer__logo__wrapper {
      min-width: 168px;
      -o-object-fit: cover;
         object-fit: cover;
}
.footer__content {
      position: relative;
      z-index: 300;
      color: #FFF;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 270px 0 235px;
}
.footer__subtitle {
      position: relative;
      z-index: inherit;
      font-size: 28px;
      line-height: 40px;
}
.footer__title {
      position: relative;
      z-index: inherit;
      font-size: 120px;
      line-height: 130%;
      font-weight: 700;
      letter-spacing: -4.8px;
      margin-bottom: 40px;
}
.footer__socials {
      position: relative;
      z-index: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
}
.footer__socials-item + .footer__socials-item {
      margin-left: 32px;
}
.footer__video {
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
}
.footer__bottom {
      position: relative;
      z-index: 200;
      padding: 60px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: #FFF;
      font-size: 20px;
      line-height: 30px;
}


@media screen and (min-width: 1700px){
      .container{
            max-width: 1600px;
      }
      .burger-menu{
            display: none;
      }
      .main{
            padding: 100px 0 100px;
      }
      .main_container{
            gap: 40px;
            max-width: calc(var(--width) * 0.54);
      }
}

@media screen and(max-width: 576px) {
      .header__logo{
            max-width: 16px;
            position: absolute;
            top: 2%;
            left: 4%;
      }
      .header__logo-wrapper{
            max-width: 16px;
      }
      .navbar__list,
      .header__btn {
        display: none;
      }
    
      .burger-menu {
        display: block;
      }
      .promo__title {
        font-size: 70px;
      }
      .promo__desc {
        width: 90%;
      }
      .promo__btn {
        width: 90%;
        height: 90px;
        font-size: 20px;
        margin-bottom: 7%;
      }
      .promo__img-wrapper {
        display: none;
      }
      .promo__img2-wrapper {
        display: block;
      }
      .promo__inner {
        padding: 20% 0 5%;
      }
      .banner__wrapper {
        padding: 1px;
      }
      .about__title {
        font-size: 40px;
      }
      .about__inner {
        padding: 50px 0 23px;
      }
      .about__img {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .about__btn {
        width: 95%;
        display: flex;
        justify-content: center;
      }
      .black__btn {
        display: none;
      }
      .blog {
        background: #0f0f0f;
        padding: 50px 0 140px;
      }
      .blog__title_div {
        display: flex;
        text-align: center;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
      }
      .blog__title {
        font-size: 40px;
        display: block;
        margin-bottom: 0;
      }
      .blog__arrow {
        display: block;
      }
      .blog__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .blog__item {
        width: 95%;
        height: 10%;
      }
      .blog__item-title {
        font-family: Sora;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
      }
      .advantages__title {
        font-size: 48px;
      }
      .advantages__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
      }
      .advantages__item-img-wrapper {
        width: 50%;
        height: 30%;
      }
      .advantages__btn {
        width: 95%;
        height: 15%;
      }
      .application__title {
        font-size: 32px;
      }
      .application__desc {
        font-size: 20px;
        display: flex;
        text-align: left;
      }
      .application__blank-inner {
        display: flex;
        flex-direction: column;
      }
      .application__blank-title {
        font-size: 25px;
        margin-bottom: 2%;
      }
      .application__blank-text {
        font-size: 20px;
        margin: 2% 0;
      }
      .a {
        display: none;
      }
      .application__form-fields {
        margin-left: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
      }
      .application__blank-text{
        font-size: 16px;
      }
     
      .application__form-input::placeholder{
        font-size: 16px;
      }
      .application__form-btn{
        font-size: 16px;
      }
      .application__blank {
        padding: 20px 9px;
      }
      .application__form-input {
        width: 150%;
        /* padding: 22px 20px 18px 24px; */
        font-size: 24px;
      }
      .footer__logo-wrapper{
        display: none;
      }
      .footer__logo2-wrapper{
        display: block;
      }
      .footer__subtitle{
        font-size: 20px;
      }
      .footer__title{
        font-size: 40px;
      }
    }