:root{
      --width: 1920px;
      --color_transition: color .3s ease-in-out;
      --back_color_tran: background-color 0.3s ease-in-out;
      --sora: 'Sora', sans-serif;
      --inter: 'Inter', sans-serif;
      --poppins: 'Poppins', sans-serif;
      --nav_color: #101011;
      --red: #E10000;
}

/* GENERAL STYLES */
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: #F5F5F5;
}

body{
      background: #242428;
      font-family: var(--sora);
      min-height: 100vh;
}

a{
      text-decoration: none;
}

li{
      list-style: none;
}

button{
      color: #FFF;
      cursor: pointer;
      font-family: var(--sora);
}

/* HEADER */
.red__btn {
      padding: 20px;
      border-radius: 5px;
      background: #E10000;
      font-size: 22px;
      font-weight: 600;
      line-height: 24px;
      color: #FFF;
}
    
.black__btn {
      padding: 16px 32px;
      border-radius: 5px;
      border: 2px solid #E8E8E8;
      color: #FFF;
      font-weight: 600;
      background-color: transparent;
}
    
.container {
      margin: 0 auto;
      padding: 0 20px;
}
    
.header {
      position: fixed;
      top: 0;
      width: var(--width);
      z-index: 1000;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
}
.header__inner {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
}
.header__logo-wrapper {
      margin-right: 100px;
      width: 168px;
}     
.header__logo{
      width: 168px;
      margin-right: 100px;
}
.navbar {
      width: var(--width);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
}
.navbar__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
}
.navbar__item + .navbar__item {
      margin-left: 28px;
}
.navbar__item.parallax-item {
      padding-left: 28px;
      position: relative;
}
.navbar__item.parallax-item::before {
      content: "|";
      position: absolute;
      left: 0;
      color: #FFF;
}
.navbar__link {
      color: #FFF;
      font-size: 18px;
      line-height: 150%;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
}
.navbar__link:hover {
      color: #E10000;
}
.navbar .parallax-item > a:hover {
      color: #FFF;
}
.active{
      color: #E10000;
}
.burger-menu{
      display: none;
}

.main {   
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 100px auto;
}
    
.main_container {
      display: flex;
      flex-direction: column;
      align-items: self-start;
      box-sizing: border-box;
      width: 100%;
      padding: 0 20px;
      gap: 40px;
}

.back_container {
      padding-top: 40px;
}
.back-btn{
      font-feature-settings: 'clig' off, 'liga' off;
      background-color: transparent;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      display: flex;
      gap: 8px;
      align-items: center; 
      border: none;
}
.back-btn:hover{
      color: var(--red);
      transition: var(--color_transition);
}

.main_title {
      align-self: stretch;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 42px;
      font-weight: 600;
      line-height: 46px; 
      letter-spacing: -2px;
}

.cont{
      padding-top: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
}
.title{
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 28px;
      font-weight: 600;
      line-height: 34px; /* 121.429% */
      letter-spacing: -0.6px;
}
.def{
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px; /* 166.667% */
      align-self: stretch;
}

.quote_inner{
      display: flex;
      padding: 40px 71px 50px 71px;
      gap: 20px;
      align-self: stretch;
      border-radius: 12px;
      background: #F5F5F5;
      align-items: center;
      flex-direction: column;
      font-family: var(--inter);
      text-align: center;
}
.quote{
      color: var(--Black, #282828);
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 20px;
      font-weight: 400;
      line-height: 35px; /* 175% */ 
      align-self: stretch;
}
.quote_end{
      color: var(--Black, #282828);
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px; /* 125% */
      align-self: stretch;
}

/* FOOTER */
.footer {
      background-color: #000;
      position: relative;
      width: 100%;
}
.footer__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      padding: 72px 0 0;
      position: relative;
      z-index: 200;
      max-width: inherit;
}
.footer__logo__wrapper {
      min-width: 168px;
      -o-object-fit: cover;
         object-fit: cover;
}
.footer__logo {
      width: 168px;
}
.footer__bottom {
      position: relative;
      z-index: 200;
      padding: 60px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: #FFF;
      font-size: 20px;
      line-height: 30px;
}


@media (min-width: 1000px){
      .container{
            max-width: 1600px;
      }
      .header{
            padding: 34px 0;
      }
      
      .main{
            padding: 100px 0 100px;
      }
      .main_container{
            gap: 40px;
            max-width: calc(var(--width) * 0.54);
      }
      
}

@media screen and (min-width: 576px) {
      .header {
        padding: 1%;
      }
      li{
            font-size: 10px;
      }
      .footer__logo-wrapper {
        max-width: 50%;
      }
    }

/* @media screen and(max-width: 576px) {
      .header{
            padding: 1%;
      }
      .container{
            max-width: 500px;
      }
      .header__logo-wrapper, .header__logo, .header__link{
            max-width: 1px;
      }
      .navbar__list,
      .header__btn,
      .header__logo {
            max-width: 50%;
      }
    
      .burger-menu {
            display: block;
      }
      .footer__logo-wrapper{
            max-width: 50%;
      }
    } */